---
// src/components/Pagination.astro
interface Props {
  totalPages: number;
  currentPage: number;
  path: string;
  searchParams: string;
}

const { totalPages, currentPage, path, searchParams } = Astro.props;

const prevPage = Math.max(currentPage - 1, 1);
const nextPage = Math.min(currentPage + 1, totalPages);

const prevUrl = `${path}?${searchParams}&page=${prevPage}`;
const nextUrl = `${path}?${searchParams}&page=${nextPage}`;

---

<div class="flex justify-between my-24">
  <a href={prevUrl} class="button" aria-disabled={currentPage === 1}>
    Anteriores
  </a>

  <span class="text-purple-800">Página {currentPage} de {totalPages}</span>

  <a href={nextUrl} class="button" aria-disabled={currentPage === totalPages}>
    Siguiente
  </a>
</div>

<style>
  .button {
    @apply p-2 bg-purple-700 text-white rounded;
    cursor: pointer;
  }
</style>
